.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}


.columns.columns1 {
  background-color: #ffad32;
  color: #000;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Main block layout: horizontal flex, space-between for left/right groups */
.columns.columns1 .block.columns-2-cols,
.columns.columns1 .columns-2-cols {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  /* key change! */
  width: 100%;
  min-height: 64px;
  box-sizing: border-box;
  padding-left: 48px;
  padding-right: 48px;
}

/* Left group: logo and license */
.columns.columns1 .columns-img-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Right group: links */
.columns.columns1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* right alignment for links */
  justify-content: center;
  text-align: right;
}

/* List items: black text, consistent sizing, vertical spacing */
.columns.columns1 ul li {
  color: #000;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  margin-bottom: 4px;
}

.columns.columns1 ul li:last-child {
  margin-bottom: 0;
}

/* Responsive: stack vertically and reduce padding on small screens */
@media (width <= 700px) {
  .columns.columns1 .block.columns-2-cols,
  .columns.columns1 .columns-2-cols {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 0;
  }

  .columns.columns1 ul {
    align-items: flex-start;
    text-align: left;
  }
}
